:root {
    --bs-dark-rgb: 44,62,80;
    --bs-success-rgb: 26,188,156;
}

/* header navbar */

.my-h6 {
    margin-bottom: 0;
}
.my-ul {
    margin-bottom: 0px;
}
/* header hero */

.icon-nopadding {
    padding: 0;
}

.stars-line {
    width: 100%;
    background-color: white;
    height: 2px;
}

/* main portfolio */

.line-black {
    background-color: rgb(44, 62, 80);
}

.img-b-radius {
    border-radius: 20px;
}

/* main form*/

.my-form {
    border-top: white;
    border-left: white;
    border-right: white;
    border-radius: 0;
    margin: 0.5rem 0;
    transition: none;
}

.my-form:focus {
    border-color: rgb(58, 84, 109);
    box-shadow: none;
}

/* footer top */

.my-bg-footer {
    background-color: rgb(58, 84, 109);
}

.my-p-footer {
    margin-bottom: 0;
}

.my-span {
    color: rgb(26,188,156);
}

.my-footer-icon {
    width: 35px;
    height: 35px;
}

.my-footer-icon i {
    line-height: 35px;
}

/* footer bottom */

.my-last-p {
    font-size: 0.8rem;
}
